/* formato formulario*/

form {
    width: 78%;
    margin: 50px auto;
    color: black;
    text-shadow: rgb(252, 248, 248) 2px 2px 4px;
    font-style: normal;
    font-size: 16px;
    font-weight: bold;
}


.formtit{
    color: aqua;
    font-size: 28px;
    font-weight: bold;
    text-shadow: black 2px 2px 4px;
  }