@mixin textos($fontsize, $lineheight, $color){
    font-size: $fontsize;
    line-height: $lineheight;
    color: $color4;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
}

p{
    @include textos(1em,1.3em , white)
}

@mixin flex($justify,$align,$direction){
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}

main {
    @include flex(center, flex-start, row);
    background-color: $color3;
}
