/* aplicar color al navbar*/
.colorbar{
    background-color:   #a57ae8;
}

//sacamos logo con :before
// .navbar-brand::before{
//     content: url(../multimedia/logo.webp);
//     padding-right: 10px;
// }


//doy el ancho al logo
.navbar-brand img{
    width: 60px;
}
.navbar-nav .nav-item .nav-link{
    color: white;
    font-size: 18px;
    text-shadow: 0 0 7px black ;
}

/*cambio de color del menu en hover*/
.navbar-nav .nav-item .nav-link:hover{
    color: aqua; 
    font-size: 24px;
}
