/* fuente google */
/*@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');*/

$color1: rgba(128, 128, 128, 0.592);
$color2: black;
$color3:linear-gradient(149deg, #a57ae8 0%, #b798e7 29%, #efe8e8 100%);
$color4: white;
$color5: #850cb9e2;
$color6: #a57ae8;

