@charset "UTF-8";
/* fuente google */
@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap");

/*Reseteo de inicio*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  font-size: 1em;
  line-height: 1.3em;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  background-image: url(../multimedia/fondo.webp); 
}

/* titulo principal */
h1{
  color: aquamarine;
  font-size: 26px;
  background-color: #850cb9e2;
  height: 60px;
  text-align: center;
  border-radius: 0;
  margin: 0;
}


/* alineacion de titulo h2*/
h2 {
  text-align: center;
  text-shadow: 2px 1px 2px rgb(176, 174, 174);
  font-weight: bold;
  color: aqua;
  padding: 20px;
  background-color: #850cb9e2;
  margin: 0;
}
.subtitulos{
  font-size: 34px;
  text-shadow: 2px 1px 2px aqua;
}
.titsub{
  color: white;
  font-weight: bold;
  font-size: 36px;
  text-shadow: 2px 1px 2px black;
}
main {
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* cambios para parrafos nosotros*/
.al{
  background-image: url(../multimedia/pagodeservicios.jpg);
  background-size: cover;
  background-position: absolute;
  height: 400px;
}
.sombra{
  box-shadow: 0px 4px 8px 4px hsla(282, 88%, 39%, 0.7);
}
.nosanima:hover{
  filter: grayscale(1);
  transition: filter 0.3s;
}
.textonosotros {
  font-size: 20px;
  line-height: 24px;
  text-align: justify;
  padding: 20px 20px;
}
.ar{
  text-align: center;
  color: #a57ae8;
  margin-top: 10px;
}
/*  logo animacion  */
.anima{
  text-align: center;
}
.anima:hover{
  -webkit-transform: rotate(360deg);
  transition: 2s ease-in-out;
  -webkit-box-shadow: 0px 0px 15px hsla(282, 88%, 39%, 0.7);
}
/* cambios para productos*/
.servicios {
  margin-top: 0 !important;  
  height: auto;
  background-image: url(../multimedia/fondo.webp);
  padding: 20px 20px;
}

/* aplicar color al navbar*/
.colorbar {
  background-color: #a57ae8;
}

/* cambio titulo navbar-brand*/
.navbar-brand {
  text-shadow: 0 0 5px black;
  font-weight: bold;
}

.navbar-brand::before {
  content: url(../multimedia/logo.webp);
  padding-right: 10px;
}

.navbar-nav .nav-item .nav-link{
  color: white;
  font-size: 22px;
  text-shadow: 0 0 7px black ;
}

/*cambio de color del menu en hover*/
.navbar-nav .nav-item .nav-link:hover{
  color: aqua; 
  font-size: 24px;
}

/* formato formulario*/
form {
  width: 78%;
  margin: 50px auto;
  color: black;
  text-shadow: rgb(252, 248, 248) 2px 2px 4px;
  font-style: normal;
  font-size: 16px;
  font-weight: bold;
  background-color: rgba(201, 197, 197, 0.466);
}
.formtit{
  color: aqua;
  font-size: 28px;
  font-weight: bold;
  text-shadow: black 2px 2px 4px;
}

/* footer formatos*/
footer {
  background-color: rgb(216, 213, 213);  
  padding: 10px;
  /* position: fixed;*/
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;  
}

/*Alineacion y tamaño de imagenes footer*/
footer img {
  width: 50px;
  height: 50px;
  display: inline-flex;
  margin: 0 auto;
  padding: 10px 10px;
}

footer img:hover {
  transform: scale(1.5);
}

footer h3 {
  font-size: 16px;
}

footer p {
  font-size: 14px;
}/*# sourceMappingURL=estilos.css.map */